@font-face {
  font-family: 'ModeNine';
  src: url('/pm5644/MODENINE.TTF');
}

body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: black;
}

svg {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
