@font-face {
  font-family: 'ModeNine';
  src: url('https://github.com/barnacl437/colourbars/raw/refs/heads/gh-pages/pm5644/modenine.ttf') format('truetype');
}

body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  color: black;
}

svg {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}
